#------------------------------------------------------------------------
# OSX stuff
#------------------------------------------------------------------------

.DS_Store



#------------------------------------------------------------------------
# Rails folders
#------------------------------------------------------------------------

log/
tmp/