#------------------------------------------------------------------------
# OSX stuff
#------------------------------------------------------------------------

.DS_Store



#------------------------------------------------------------------------
# Rails folders
#------------------------------------------------------------------------

db/*.sqlite3
config/twitter.yml
log/
tmp/