#------------------------------------------------------------------------
# OSX stuff
#------------------------------------------------------------------------

.DS_Store



#------------------------------------------------------------------------
# Rails folders
#------------------------------------------------------------------------

config/twitter.yml
log/
tmp/