<h3>Degrees of Separation</h3>

<% degrees = (@response["collection"].length > 2) ? @response["collection"].length - 2 : 0 %>

<p><%= "#{@response["t1"].name}: #{@response["t1"].friends.length} friends" %></p>
<p><%= "#{@response["t2"].name}: #{@response["t2"].friends.length} friends" %></p>
<p><%= "Separations: #{degrees}" %></p>

<hr>


<%= render :partial => "friends/tweeter", :collection => @response["collection"] %>