<% form_tag "/friends/show_common" do %>

  User1: <%= text_field_tag :tweeter1 %><br/><br/>
  User2: <%= text_field_tag :tweeter2 %>
  
  <p id="save_button"><%= submit_tag("Show Common") %></p>

<% end %>