<div class="search_container">
	
	<!--  Instructions  -->
	<h2>
		Enter two Twitter screen names and start finding connections now!
	</h2>
	<% form_tag "/friends/show_common" do %>

		<span class="inline">
			<label for="tweeter1">Screen Name:</label>
			<%= text_field_tag :tweeter1, "", { :class => "main" } %>
			
			<br/>

			<label for="tweeter2">Screen Name:</label>
			<%= text_field_tag :tweeter2, "", { :class => "main" } %>
		</span>
		<span class="inline">
			<%= submit_tag "Search", :class => "button" %>
		</span>

	<% end %>
</div>
<div class="result_container">
	Need to write remote forms and rjs templates to use this area.
</div>