/*-------------------------------------------------------

Blue
----
dark 	=> #002E46
medium 	=> #94CEF4
light	=> #CCE2EC


Green
-----
dark 	=> #6C7E3C
medium 	=> #849A44
light	=> #ACC24C


Background
----------
green 	=> #ACC24C (gradient)
brown	=> #352724
blue	=> #CCE2EC


-------------------------------------------------------*/


/*-------------------------------------------------------
   html selectors
-------------------------------------------------------*/

html {
	height:				100%;
}

body {
	font-family:		"Lucida Grande", verdana, arial, helvetica, sans-serif;
	margin:				0;
	height:				100%;
	background-image:	url('../images/body_bg.jpg');
	background-repeat:	repeat-x;
	background-color:	#CCE2EC;
}

form {
	margin:				0;
}

img {
	border:				0;
}

a:active {
	outline:			none;	/* removes annoying click borders */
}

a:focus {
	-moz-outline-style: none;	/* removes annoying click borders */
}



/*-------------------------------------------------------
   page
-------------------------------------------------------*/

#Page {
	margin:				0 auto;
	width:				70%;
	min-width:			700px;
	height:				100%;
}



/*-------------------------------------------------------
   page header
-------------------------------------------------------*/

#PageHeader {
	margin:				0;
	padding:			10px;
	height:				60px;
}

#PageHeader a {
	text-decoration:	none;
}

#PageHeader h1 {
	margin:				0;
	padding:			20px 0 0 0;
	display: 			inline-block;
	vertical-align:		top;
	font-size:			26px;
	color:				#352724;
}



/*-------------------------------------------------------
   page body
-------------------------------------------------------*/

#PageBody {
	margin:				0;
	padding:			0;
	border:				2px solid #352724;
	background-color:	#FFF;
}

#PageBody h2 {
	margin:				0;
	padding:			10px 0 20px 0;
	font-size:			16px;
	color:				#225;
}

#PageBody h3 {
	margin:				0;
	padding:			10px 4px;
	font-size:			16px;
	color:				#DD7700;
}

#PageBody #SearchContainer {
	background-color:	#DDD;
	border-bottom:		2px solid #352724;
	padding:			10px 20px;
}

#PageBody #SearchContainer form {
	margin-bottom:		10px;
}

#PageBody #SearchContainer label {
	font-size:			14px;
	color:				#352724;
	padding-right:		2px;
}

#PageBody #SearchContainer .button {
	font-size:			16px;
}

#PageBody #SearchContainer .inline {
	display:			inline-block;
	padding-right:		24px;
	vertical-align:		top;
}

#PageBody #SearchContainer .main {
	font-size:			16px;
}

#PageBody #ResultContainer {
	padding:			20px;
	min-height:			400px;
}



/*-------------------------------------------------------
   page footer
-------------------------------------------------------*/

#PageFooter {
	margin:				0;
	padding:			0;
}

#PageFooter span {
	display:			inline-block;
	padding:			4px 4px 20px 4px;
	width:				45%;
	font-size:			10px;
	color:				#225;
}

#PageFooter a {
	font-size:			10px;
	color:				#225;
	text-decoration:	underline;
}

#PageFooterCopyright {
	float:				left;
}

#PageFooterPoweredBy {
	float:				right;
	text-align:			right;
}



/*-------------------------------------------------------
   javascript warning
-------------------------------------------------------*/

#JavascriptDisabledNotification {
	padding:			20px 40px 40px 40px;
	background:			#352724;
}

#JavascriptDisabledNotification .outer {
	width:				50%;
	background:			#FFF;
	border:				1px solid #000;
}

#JavascriptDisabledNotification .inner,
#JavascriptDisabledNotification h1 {
	margin:				0;
	padding:			8px 16px;
}

#JavascriptDisabledNotification h1 {
	font-size:			18px;
	background:			#CCE2EC;
	color:				#000;
	border-bottom:		1px solid #000;
}

#JavascriptDisabledNotification h2 {
	margin:				0;
	padding:			4px 0 8px 0;
	font-size:			16px;
}

#JavascriptDisabledNotification p {
	margin:				0;
	padding:			4px 0;
	font-size:			12px;
}

#JavascriptDisabledNotification a {
	padding:			1px;
	font-size:			12px;
	text-decoration:	none;
}

#JavascriptDisabledNotification a:link,
#JavascriptDisabledNotification a:visited {
	color:				#C00;
}

#JavascriptDisabledNotification a:hover {
	background:			#C00;
	color:				#FFF;
}



/*-------------------------------------------------------
   rails specific classes (probably needs tweaking)
-------------------------------------------------------*/

.flash {
	padding:			4px 8px;
	width:				67%;
}

.fieldWithErrors {
	display:			inline;
}

.fieldWithErrors label {
	font-weight:		bold;
}

#errorExplanation {
  	width:				400px;
  	padding:			7px;
  	padding-bottom:		12px;
  	margin-bottom:		20px;
}

#errorExplanation h2 {
  	text-align:			left;
  	font-weight:		bold;
  	padding:			5px 5px 5px 15px;
  	font-size:			.8em;
  	margin:				-7px;
}

#errorExplanation p {
  	font-size:			.8em;
  	margin-bottom:		0;
  	padding:			5px;
}

#errorExplanation ul li {
  	font-size:			.8em;
  	list-style:			square;
}



/*-------------------------------------------------------
   search results
-------------------------------------------------------*/

.header_container {
	margin:				0 0 20px 0;
	padding:			0;
	border:				1px solid #352724;
	background-color:	#E5F0F5;
}

.header_left {
	display:			inline-block;
	width:				48%;
	height:				100%;
	border-right:		1px solid #352724;
}

.header_detail {
	display:			inline-block;
	padding:			12px;
}

.header_detail .image {
	display:			inline-block;
	padding-right:		8px;
}

.header_detail img {
	border:				1px solid #352724;
}

.header_detail .text {
	display:			inline-block;
	vertical-align:		top;
	padding-top:		2px;
}

.header_detail .text a {
	font-size:			16px;
	font-weight:		bold;
	color:				#0084B4;
	text-decoration:	none;
}

.header_detail .text a:hover {
	text-decoration:	underline;
}

.header_detail .text .name,
.header_detail .text .location {
	font-size:			12px;
	color:				#333;
}

.list_container {
	margin:				0;
	padding:			0;
	border-top:			1px solid #DDD;
}

.list_detail {
	border-bottom:		1px solid #DDD;
}

.list_detail .even,
.list_detail .odd {
	padding:			8px;
}

.list_detail .even {	
	background-color:	#F6F6FF;
}

.list_detail .image {
	display:			inline-block;
	padding-right:		8px;
}

.list_detail img {
	border:				1px solid #352724;
}

.list_detail .text {
	display:			inline-block;
	vertical-align:		top;
	padding-top:		2px;
}

.list_detail .text a {
	font-size:			16px;
	font-weight:		bold;
	color:				#0084B4;
	text-decoration:	none;
}

.list_detail .text a:hover {
	text-decoration:	underline;
}

.list_detail .text .name,
.list_detail .text .location {
	font-size:			12px;
	color:				#333;
}


.pagination {
	margin:				0;
	padding:			20px 4px;
	font-size:			11px;
}

.pagination a,
.pagination .current {
	margin:				0 1px;
	padding:			2px 4px;
	text-decoration:	none;
}

.pagination .prev_page,
.pagination a.prev_page:link,
.pagination a.prev_page:visited,
.pagination a.prev_page:hover, 
.pagination .next_page,
.pagination a.next_page:link,
.pagination a.next_page:visited,
.pagination a.next_page:hover {
	padding:			1px 4px;
}

.pagination {
	color:				#666;
}

.pagination a:link,
.pagination a:visited {
	color:				#000;
	border:				1px solid #352724;
}

.pagination a:hover {
	background:			#0084B4;
	color:				#FFF;
	border:				1px solid #352724;
}

.pagination a.prev_page:link,
.pagination a.prev_page:visited, 
.pagination a.next_page:link,
.pagination a.next_page:visited {
	color:				#0084B4;
	border:				none;
}

.pagination a.prev_page:hover,
.pagination a.next_page:hover {
	background:			#0084B4;
	color:				#FFF;
	border:				none;
}

.pagination .current {
	background:			#849A44;
	color:				#FFF;
	border:				1px solid #352724;
}
